@charset "UTF-8";

body{
	background-color: #fff;
	color: rgba(0,0,0,1);	
}

/*Formatação do Menu*/
nav {
	display: block;
	background: #111;
	color: #fff;
	padding: 25px;
}
nav ul {
	list-style: none;
	text-transform: uppercase;	
	position: absolute;
	top: 10px;
	left: 350px;
}

nav li {
	display: inline-block;
	background-color: #FACE44;
	padding: 12px;
	margin: 7px;
	transition: background-color 1s;
	box-shadow: 1px 1px 5px black;
	font-weight: bold;	
}

nav#menu li:hover {
	background-color: #FACECC;
	box-shadow: 1px 1px 3px blue;
	font-weight: bolder;
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: #000000;
	text-decoration: none;	
}

nav#menu a:hover {
	color: #0000ff;
}



footer#rodape {
	display: block;
	position: absolute;
	width: 100%;
	float: center;
}

footer#rodape p {
	text-align: center;
	font-family: verdana, arial;
	font-size: 10px;		
}