@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url("../_carrossel/car12.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(255,255,255,.8);	
}

/* Cabeçalho */

header{
	margin: 0px;
	background-color: black;
	height: 80px;
	padding-top: 10px;
	margin: auto;
	color: #111;
}

/* Posicionamento do Logo */

header .esquerda .logo {
		float: left;
		padding: 10px;
}

/*Formatação do Menu*/

header nav ul {
	list-style: none;
	float: right;	
}

header nav ul li {
	display: inline;
	margin-right: 15px;
}

header nav a {
	font-family: Verdana, Tahoma, sans-serif;
	font-weight: bolder;
	text-decoration: none;
	color: rgba(50,255,0,1);
}

header nav a:hover {
	text-decoration: none;
	font-weight: bolder;
	color: yellow;
}


/* Seções */

.secao {
	padding: 15px;
}

.section1 {
	padding:100px;
	height: 200px;
}

.esquerda .escudo {
	float: left;
	border-image: 5px;
	padding: 15px;
}


.section2 {
	padding: 50px;
	background-color: #111;
}

.section3 {
	padding: 50px;
	background-color: #333;
}

.section4 {
	padding: 50px;
	background-color: #111;
}

.section5 {
	padding: 50px;
	background-color: #333;
}

.esquerda .robson {
	float: left;
	border-image: 5px;
	padding: 15px;
}

.esq {
	display: block;
	position: relative;
	width: 50%;
}

.dire {
	display: block;
	position: relative;
	width: 50%;
}

h1 {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 30px;
	font-weight: bolder;
	text-align: left;
	color: rgba(50,255,0,1);
}

h2 {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 25px;
	font-weight: bolder;
	text-align: left;
	color: rgba(50,255,0,.5);
}

h3 {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bolder;
	text-align: left;
	color: rgba(50,255,0,.5);

}
p {
	padding: 10px;
	text-indent: 30px;
	text-align: justify;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 20px;
	color: rgba(255,255,255,.8);
}

/*Rodape */
footer {
	background-color: black;
	padding: 30px;
	margin: 0px;
	text-align: center;
	color: rgba(50,255,0,1);
}

footer p {
	padding: 10px;
	text-align: center;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 15px;
	color: rgba(255,255,255,.8);
}